@{
    ViewBag.Title = "WADADO.IN";
}
<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/jssor.js"></script>
<script src="~/Scripts/slider/jssor.slider.js"></script>
<script src="~/Scripts/slider/slider.js"></script>

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>
<script src="~/Scripts/Location/services/LocationDataService.js"></script>
<script src="~/Scripts/Location/controllers/LocationController.js"></script>
<link href="~/Content/phone.css" rel="stylesheet" />
<div id="colorbar">
</div>
<div class="cover"></div>
<div id="contentWrapper" data-ng-controller="LocationController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <div>
        <div id="navWrapper">
            <nav>
                <div class="clearfix primary-nav">
                    <div>
                        <div class="menusearch-input">
                            <div><img src="~/Images/Icons/search-icon.png" /></div>
                            <div><span>{{location.SelectedLocation.LocationName}}</span></div>
                        </div>
                    </div>
                </div>
                <ul class="clearfix menu-nav">
                    <li class="active" id="portfolio"><a href="#">Sign Up</a></li>
                    <li id="services"><a href="#">Login</a></li>
                    <li id="careers"><a href="#">About Us</a></li>
                    <li id="contact"><a href="#">FAQs</a></li>
                </ul>
                <button class="logo-button">Logo Button</button>
                <button class="nav-button">Toggle Button</button>
            </nav>
        </div>
    </div>
    <div class="uppercontent">
        <section>
            <div id="imageWrapper">
                <img class="location-image" ng-src="{{location.SelectedLocation.LocationImage}}" />
                <div class="location">
                    <div>
                        <span>{{location.SelectedLocation.LocationName}}</span>
                    </div>
                </div>
                <!--Row start-->
                <div class="row">
                    <div class="caption">
                        <span>Best Time To Visit</span>
                    </div>
                </div>
                <!--Row end-->
                <!--Row start-->
                <div class="row">
                    <div class="column-12">
                        <div class="bestMonthsToVisitWrapper">
                            <div class="monthsSeperator">
                                <div ng-repeat="item in location.BestMonthsToVisit">
                                    <div>
                                        <div class="item">
                                            <span>{{item}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row end-->
                </div>
            </div>
        </section>
        <!--Row start-->
        <div class="row">
            <div ng-repeat="item in location.AllActivities">
                <div class="column-6">
                    <div class="location-activity-wrapper" ng-click="getAllSelectedActivities(item)">
                        <div>
                            <img ng-src="{{item.ImageURL}}" />
                        </div>
                        <div class="activityDetails">
                            <div>
                                <span>{{item.ActivityCount}}</span>
                            </div>
                            <div>
                                <span>{{item.ActivityName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
    </div>
</div>
