<div class="admin-list">
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Name</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="locationDetails.LocationName" required placeholder="location name" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="column-3">
                <div class="admin-list label"><span>Images</span></div>
            </div>
            <div class="column-col">
                <div><span>:</span></div>
            </div>
            <div class="column-8" ng-if="!imagesForLocation.length > 0">
                <div class="admin-button-dialog">
                    <div>
                        <a ng-click="addImage()">ADD IMAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
            <span>&nbsp;</span>
        </div>
        <div class="column-10">
            <div class="admin-table">
                <div class="admin-table header" ng-if="imagesForLocation.length > 0">
                    <div class="column-12">
                        <div class="column-9">
                            <span>IMAGE NAME</span>
                        </div>
                        <div class="column-2">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div ng-repeat="item in imagesForLocation">
                        <div class="column-12">
                            <div class="column-9">
                                <div class="column-12">
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                            <div class="column-2">
                                <div ng-click="deleteSelectedImage(item)" class="column-button">
                                    <div class="column-0">
                                        <img src="/Images/Icons/bin.png" />
                                    </div>
                                    <div class="column-2">
                                        <span>Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Location(lat and long)</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="locationDetails.LatLong" required placeholder="latitude, longitude" />
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Description</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea ng-model="locationDetails.Description" class="multiline" required placeholder="location description" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Getting Around</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea ng-model="locationDetails.GettingAround" class="multiline" required placeholder="getting around, places to visit etc" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Must Eat</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea ng-model="locationDetails.MustEat" class="multiline" required placeholder="must eats" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Must Drink</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea type="text" ng-model="locationDetails.MustDrink" class="multiline" required placeholder="local beverages etc" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <span>&nbsp;</span>
                </div>                
                <div class="column-8">
                    <div class="center-element-relative-table">
                        <div class="admin-booking">
                            <div>
                                <a ng-click="saveLocationDetails()">SAVE</a>
                            </div>
                        </div>
                        <div class="admin-booking">
                            <div>
                                <a ng-click="cancelChanges()">RETURN TO LIST</a>
                            </div>
                        </div>
                    </div>                                 
                </div>
            </div>
        </div>
    </div>
</div>