<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="admin-table" ng-if="vm.isAdmin">
        <div class="column-12">
            <div style="float:right;">
                <div class="column-3">
                    <ui-select ng-model="vm.company.selected" theme="selectize" on-select="vm.getAllActivitiesCompletedForSelectedCompany(item)" class="admin-category-select">
                        <ui-select-match placeholder="Select a company to filter">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item in vm.companies | filter: $select.search">
                            <span ng-bind-html="item.Name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-table">        
        <div class="admin-table header">
            <div class="column-12">
                <div class="column-2">
                    <span>Booking No.</span>
                </div>
                <div class="column-2">
                    <span>Activity Name</span>
                </div>
                <div class="column-2">
                    <span>Date/Time</span>
                </div>
                <div class="column-2">
                    <span>Participants</span>
                </div>                
                <div class="column-3">
                    <span>Amount Received</span>
                </div>                
            </div>
        </div>
        <div>
            <div ng-repeat="item in vm.allActivities">
                <div class="column-2">
                    <div class="column-12">
                        <span>{{item.BookingNumber}}</span>
                    </div>
                </div>
                <div class="column-2">
                    <div class="column-12">
                        <span>{{item.ActivityName}}</span>
                    </div>
                </div>
                <div class="column-2">
                    <div class="column-12">
                        <span>{{item.f_BookingDate}}/{{item.Time}}</span>
                    </div>
                </div>
                <div class="column-2">
                    <div class="column-12">
                        <span>{{item.Participants}} adults/{{item.ChildParticipants}} children</span>
                    </div>
                </div>
                <div class="column-3">
                    <div class="column-12">
                        <span>{{item.Currency}}&nbsp;{{item.Cost}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>