<div class="admin-list">
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Min People</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="number" min="1" max="1000" ng-model="activityDetails.MinPeople" required placeholder="eg. 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Max People</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="number" min="1" max="1000" ng-model="activityDetails.MaxPeople" required placeholder="eg. 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Max Number of Adults</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="number" min="1" max="1000" ng-model="activityDetails.NumAdults" required placeholder="eg. 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Max Number of Children</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="number" min="0" max="1000" ng-model="activityDetails.NumChildren" required placeholder="eg. 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Cost for Adult</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="activityDetails.Cost" required placeholder="Professional" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Cost for Child</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="activityDetails.CostForChild" required placeholder="Professional" />
                </div>
            </div>
        </div>
    </div>
</div>