<div class="admin-list">
    <div class="row">
        <div class="column-12">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="column-3">
                <span>&nbsp;</span>
            </div>   
            <div class="admin-wizard-tab-container">
                <div class="column-auto-left">
                    <div class="admin-wizard active" id="basic" ng-click="loadBasicDetails()">
                        <span>BASIC DETAILS</span>
                    </div>
                </div>
                <div class="column-auto-left">
                    <div class="admin-wizard" id="personnel" ng-click="loadPersonnelDetails()">
                        <span>PERSONNEL DETAILS</span>
                    </div>
                </div>
                <div class="column-auto-left">
                    <div class="admin-wizard" id="booking" ng-click="loadBookingDetails()">
                        <span>BOOKING DETAILS</span>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
    <div class="admin-wizard-container">
        <div class="row">
            <div class="column-12">
                <div ng-include="'Templates/_adminActivityDetailsBasic.html'" ng-if="isBasicInfo"></div>
            </div>
            <div class="column-12">
                <div ng-include="'Templates/_adminActivityDetailsPeople.html'" ng-if="isPeopleInfo"></div>
            </div>
            <div class="column-12">
                <div ng-include="'Templates/_adminActivityDetailsDates.html'" ng-if="isDatesInfo"></div>
            </div>
        </div>
        <div class="row">
            <div class="column-12">
                <div>
                    <div class="column-3">
                        <span>&nbsp;</span>
                    </div>

                    <div class="column-8">
                        <div>
                            <div class="admin-booking" ng-if="!isBasicInfo">
                                <div>
                                    <a ng-click="loadPrevious()">PREVIOUS</a>
                                </div>
                            </div>
                            <div class="admin-booking" ng-if="!isDatesInfo">
                                <div>
                                    <a ng-click="loadNext()">NEXT</a>
                                </div>
                            </div>
                            <div class="admin-booking" ng-if="isDatesInfo">
                                <div>
                                    <a ng-click="saveChanges()">COMPLETE</a>
                                </div>
                            </div>
                            <div class="admin-booking">
                                <div>
                                    <a ng-click="cancelChanges()">RETURN TO LIST</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>