<div class="admin-list">
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Name</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="activityDetails.Name" required placeholder="activity name" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Event/Activity</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <div class="column-auto"><label><input type="checkbox" ng-model="activityDetails.IsEvent" ng-click="setEventActivity('event')"/>Event</label></div>
                    <div class="column-auto"><label><input type="checkbox" ng-model="activityDetails.IsActivity" ng-click="setEventActivity('activity')" />Activity</label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Category</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8" ng-if="isEdit">
                    <ui-select ng-model="category.selected" theme="selectize" class="admin-category-select">
                        <ui-select-match placeholder="eg. paragliding, quiz">{{$select.selected.ActivityType}}</ui-select-match>
                        <ui-select-choices repeat="item in allActivitySubCategories | filter: $select.search">
                            <span ng-bind-html="item.ActivityType | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="column-8" ng-if="!isEdit">
                    <ui-select ng-model="item.selected" theme="selectize" class="admin-category-select" on-select="setSelectedSubCategory(item)">
                        <ui-select-match placeholder=" eg. paragliding">
                        {{$select.selected.ActivityType}}</ui-select-match>
                        <ui-select-choices repeat="item in allActivitySubCategories | filter: $select.search">
                            <span ng-bind-html="item.ActivityType | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Location</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8" ng-if="isEdit">
                    <ui-select ng-model="location.selected" theme="selectize" class="admin-category-select">
                        <ui-select-match placeholder="eg. GANGTOK">{{$select.selected.LocationName}}</ui-select-match>
                        <ui-select-choices repeat="item in allLocations | filter: $select.search">
                            <span ng-bind-html="item.LocationName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="column-8" ng-if="!isEdit">
                    <ui-select ng-model="item.selected" theme="selectize" class="admin-category-select" on-select="selectedLocation(item)">
                        <ui-select-match placeholder="eg. gangtok">{{$select.selected.LocationName}}</ui-select-match>
                        <ui-select-choices repeat="item in allLocations | filter: $select.search">
                            <span ng-bind-html="item.LocationName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Location(lat and long)</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="activityDetails.LatLong" required placeholder="latitude, longitude" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Description</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea type="text" ng-model="activityDetails.Description" class="multiline" required placeholder="activity description etc" />
                </div>
            </div>
        </div>
    </div>      
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Difficulty Rating</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-4">
                    <input type="number" min="1" max="5" step="0.5" ng-model="activityDetails.DifficultyRating" required placeholder="eg. 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Difficulty Level</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <input type="text" ng-model="activityDetails.DifficultyLevel" required placeholder="Professional" />
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="column-12">
            <div>
                <div class="column-3">
                    <div class="admin-list label"><span>Cancellation Policy</span></div>
                </div>
                <div class="column-col">
                    <div><span>:</span></div>
                </div>
                <div class="column-8">
                    <textarea type="text" ng-model="activityDetails.CancellationPolicy" class="multiline" required placeholder="activity cancellation policy etc" />
                </div>
            </div>
        </div>
    </div>                           
</div>