/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
    -webkit-text-size-adjust: none;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

slide
/*-----BODY -----*/
body {
    background-color: #E6E1D8;
    font-family: 'Lato', sans-serif;
    font-weight: 300; /*also loaded 600 for bold*/
    color: #494948;
}

@font-face {
    font-family: 'Dooodleista';
    src: url('Fonts/Dooodleista.eot');
    src: url('Fonts/Dooodleista.eot?#iefix') format('embedded-opentype'), url('Fonts/Dooodleista.woff') format('woff'), url('Fonts/Dooodleista.ttf') format('truetype'), url('Fonts/Dooodleista.svg#Dooodleista') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-----COLOR BAR -----*/
#colorbar {
    height: 44px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

/*-----TOP IMAGE -----*/
#imageWrapper {
    margin-top: 0;
}


/*-----HEADER -----*/
#headerWrapper {
    background-color: #3B4044;
}

header {
    padding: 1em 2% .5em 2%;
}

    header h1 {
        font-size: 2.1em;
        color: #fff;
    }

    header h2 {
        font-size: .9em;
        font-weight: 300;
        color: #ddd;
        margin-top: .75em;
    }


/********CENTERING***********/
.center-element {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*-----NAVIGATION -----*/
#navWrapper {
    background-color: #e22121;
}

nav div {
    float: left;
    width: 25%;
}


    nav div span {
        font-size: .8em;
        width: 25%;
    }

    nav div a {
        display: block;
        font-size: .8em;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        margin: 0em 0;
    }
/*this turns off the last border*/
nav ul li:last-child a {
    border-right: none;
}





/*-----CONTENT -----*/
.contentWrapper {
    background-color: #fff;
    transition: 1s all;
}

    .contentWrapper .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .contentWrapper h1 {
        color: #e22121;
        font-size: 2em;
        padding-top: 1em;
        text-shadow: 1px 1px 2px #999;
    }


.uppercontent, .lowercontent {
    padding: 0;
    height: auto;
    z-index: 1;
}

.lowercontent {
    background-color: #febe00;
    height: auto;
    text-align: center;
}

    .lowercontent .header {
        padding: 1em;
        font-weight: 600;
    }

    .lowercontent div p:first-child {
        padding: .4em 0 .2em 0;
        font-size: .8em;
        font-weight: 400;
        text-align: justify;
    }

    .lowercontent div p {
        padding: 0 0 .4em 0;
        font-size: .8em;
        font-weight: 400;
        text-align: right;
    }

.uppercontent .row, .uppercontent-home .row {
    color: #000;
}

    .uppercontent .row img, .uppercontent-home img {
        transform: scale(1);
    }

    .uppercontent .row span, .uppercontent .quote span {
        font-size: .8em;
        padding: .1em 0;
    }

.home-search-content {
    background-color: rgba(0,0,0,.6);
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.slide {
    margin-top: 250px;
    transition: 1s all;
}
/*-----COLUMNS -----*/
.column-12, .column-9, .column-6, .column-4, .column-3, .column-5, .column-2, .column-0 {
    padding: .3em 2%;
    float: left;
}



.column-12 {
    width: 100%;
}

    .column-12.top {
        padding: .3em 0;
    }

.column-0 {
    width: 1.5em;
}

.column-1 {
    float: right;
    padding: .4em 2%;
}

.column-9 {
    width: 75%;
}

.column-6 {
    width: 50%;
}

    .column-6.border {
        border-right: 1px solid;
    }

.column-5 {
    width: 41.2%;
}

.column-4 {
    width: 33.3%;
}

.column-3 {
    width: 25%;
}

.column-2 {
    width: 16.6%;
}



.border-top {
    padding: .5em 0 0 0;
    border-top: 1px solid #ccc;
    width: 100%;
}

    .border-top span {
        font-size: .8em;
        text-transform: capitalize;
    }

.inner-container {
    margin: 0 0 0 2em;
}

    .inner-container div {
        padding: 0 0 .2em 0;
    }

.buttonNoBorder {
    margin-top: -1em;
}

    .buttonNoBorder a {
        height: auto;
        font-size: .9em;
        font-weight: 500;
        padding: 0 .2em;
        outline: none;
        cursor: pointer;
        color: rgba(251,189,19,1);
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
    }

.button a {
    height: 1em;
    font-size: .8em;
    border: 1px solid #000;
    padding: .2em 1.2em;
    background-color: rgb(255,255,255);
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0 auto;
    transition: 0.5s all;
    border-radius: 5px;
}

.label {
    height: 2em;
    float: right;
    font-size: 1.1em;
    padding: .4em .5em;
    font-weight: 500;
    background-color: rgb(251,189,19);
    outline: none;
    cursor: pointer;
    color: #fff;
    margin: 0 auto;
    transition: 0.5s all;
    display: table;
}

.labelPlain {
    float: left;
    font-size: .8em;
    margin: .2em .2em;
    font-weight: 400;
    outline: none;
    color: #000;
    transition: 0.5s all;
}

.labelHeader {
    float: left;
    font-size: 1.2em;
    padding: .4em .2em;
    font-weight: 400;
    outline: none;
    color: #000;
    transition: 0.5s all;
}

.listSubTotal {
    text-indent: -1em;
    margin-top: -.2em;
}

.color-1, .color-2 {
    padding: .4em 1em .5em 1em;
}

.color-1 {
    background: #f9f8c1; /*yellow*/
}

.color-2 {
    background: #ffddc1; /*orange*/
}

/*-- Bullet Navigator Skin Begin */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url(../Images/Icons/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
    margin: 1em 0;
}

.jssorb21 div {
    background-position: -5px -5px;
}

    .jssorb21 div:hover, .jssorb21 .av:hover {
        background-position: -35px -5px;
    }

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}

/*--SLIDER NAVIGATION --*/

.slider {
    position: relative;
    margin: 0em auto 0em auto;
    left: 0px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.sliderContainer, .sliderContainer > div img {
    cursor: move;
    left: 0px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.sliderCaption {
    display: none;
}


.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../Images/Icons/a21.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}

.imageDiv {
    background-color: rgba(0,0,0,.6);
    padding: .2em .5em;
    width: 100%;
    position: absolute;
    margin-top: -3em;
    color: white;
}

    .imageDiv div {
        padding: .6em 0;
    }

    .imageDiv .leftDiv {
        float: left;
        font-size: 0.7em;
    }

        .imageDiv .leftDiv p:first-child {
            text-align: left;
            padding: 0 0 .2em 0;
            font-size: 1.2em;
        }

    .imageDiv .rightDiv {
        float: right;
        font-size: 1em;
    }


/*----------------LOCATION STYLES----------------------*/

.location-activity-wrapper {
    border: 1px solid #ccc;
    height: 60px;
    border-radius: 5px;
    padding: 5% 0 0 0;
}

    .location-activity-wrapper > div:first-of-type {
        float: left;
        padding: 5px;
    }

        .location-activity-wrapper > div:first-of-type img {
            transform: scale(.8);
        }

    .location-activity-wrapper .activityCategoryDetails {
        padding: 1%;
    }

        .location-activity-wrapper .activityCategoryDetails > div {
            font-size: .9em;
        }

            .location-activity-wrapper .activityCategoryDetails > div:first-of-type {
                font-size: 1.5em;
            }

.location-image {
    width: 100%;
}

.location {
    padding: .2em .3em;
    text-transform: uppercase;
    top: -3.4em;
    color: white;
    font-size: 2em;
    position: relative;
    display: table;
    margin: 0 auto;
    margin-top: -1.4em;
    text-shadow: 5px 5px 5px rgba(0,0,0, 1);
}

.location-options {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
}

.location-holder {
    background-color: #ccc;
    display: table;
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
    padding: 1em 0;
}

.bestMonthsToVisitWrapper {
    display: table;
    margin: 0 auto;
    padding: 0em 0 .2em 0;
}

    .bestMonthsToVisitWrapper.item {
        float: left;
        padding: 0em 0.2em .2em .5em;
    }

    .bestMonthsToVisitWrapper.litem {
        float: left;
        padding: 0em 0.2em 0 .5em;
    }

.monthseperator-top {
    border-top: 1px solid #747678;
    display: table;
    margin: 0 auto;
    width: 90%;
}

.caption {
    color: #000;
    font-size: medium;
    font-weight: 600;
    padding: .5em 0 .5em 0;
    text-align: center;
    font-size: 1.2em;
}

.location-search-content {
    padding: 0 2em;
    margin: 0 auto;
    width: 100%;
}



/*----------------ACTIVITY LIST STYLES----------------------*/

.list-activity-wrapper {
    width: 100%;
}

    .list-activity-wrapper div {
        width: 100%;
        display: table;
    }

    .list-activity-wrapper img {
        width: 100%;
    }

.list-booking-wrapper {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: inline-table;
    height: auto;
}

    .list-booking-wrapper > div:first-of-type img {
        transform: scale(1);
    }

    .list-booking-wrapper > div:first-of-type {
        float: left;
        width: 30%;
        padding: 0;
    }

    .list-booking-wrapper div {
        float: left;
        padding: 4%;
    }

.activityDetails {
    padding: .3em 1%;
    margin-top: -4.75em;
    color: black;
    position: relative;
    display: table;
    float: left;
    width: 100%;
    position: relative;
    background: rgba(255,255,255, 0.5);
    z-index: 2;
    height: 4em;
}

    .activityDetails div:first-of-type > div:first-of-type span:first-of-type {
        font-weight: bolder;
        font-size: .6em;
    }

    .activityDetails div span {
        font-weight: normal;
        font-size: .6em;
    }

.list-booking-wrapper .activitybookingDetails {
    float: right;
    width: 70%;
    text-align: left;
}

.list-activity-wrapper .activityDetails > div {
    font-size: 1em;
    letter-spacing: 1px;
    padding: .3em 0 0 0;
    float: none;
}

.list-booking-wrapper .activitybookingDetails {
    padding: .2em 1.2em;
    text-transform: capitalize;
}

    .list-booking-wrapper .activitybookingDetails div:first-of-type {
        font-size: 1em;
        padding: .1em 0 0 0;
        float: left;
        font-weight: 600;
    }

    .list-booking-wrapper .activitybookingDetails > div {
        font-size: .9em;
        padding: .1em 0 0 0;
        float: left;
    }

    .list-booking-wrapper .activitybookingDetails .inline {
        margin-left: 2em;
    }

.like-container {
    position: relative;
    display: table;
    z-index: 5;
    float: right;
}

    .like-container div {
        position: relative;
        display: table;
        float: right;
    }

    .like-container img {
        height: 25px;
        margin: 0 auto;
        display: table;
        float: right;
        width: 1.5em;
    }

.ratingList {
    padding: .5em 0;
}

    .ratingList div {
        float: left;
    }

.activity {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Dooodleista;
    font-weight: 500;
    -moz-transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    background-color: rgba(244,244,244,.8);
    border-bottom: 1px solid #ccc;
    transition: .5s all;
    padding: .1em;
}

/*----- FOOTER -----*/
#footerWrapper {
    background-color: #979791;
}

footer {
    clear: both;
    font-size: .7em;
    color: #fff;
    text-align: center;
    padding: .6em;
}

    footer a {
        color: #fff;
    }


/*----- OTHER -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.cover {
    position: fixed;
    top: 0;
}

    .cover.open {
        height: 100%;
        width: 100%;
        z-index: 1000;
        background: rgba(0,0,0,.8);
    }

/*------RIGHT ARROW*/
.hairline-down-arrow {
    width: 15px;
    height: 15px;
    position: relative;
    background-color: white;
}

    .hairline-down-arrow:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 54%;
        width: 10px;
        height: 10px;
        border-width: 0px 1px 1px 0px;
        transform: rotate(-45deg) translate(-50%, 100%) skew(5deg, 5deg);
        transform-origin: left;
        border-style: solid;
        border-color: grey;
    }

/*---------SEARCH START---------*/
.mobile-search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s linear, opacity .5s linear;
}

    .mobile-search.open {
        height: 100%;
        z-index: 1001;
        background: rgba(255,255,255,1);
        visibility: visible;
        opacity: 1;
        text-align: center;
    }

.search-wrapper {
    margin: 2em auto;
}

/*DATE FILTER START*/
/*---------SEARCH START---------*/
.mobile-date {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 1001;
    background: rgba(255,255,255,1);
    transition: visibility .2s linear, opacity .5s linear;
}

    .mobile-date.open {
        height: 100%;
        z-index: 1001;
        visibility: visible;
        opacity: 1;
        text-align: center;
    }

/*FILTER BUTTON*/
.filter-button {
    display: table;
    margin: 1em auto;    
}

    .filter-button a {
        height: 1em;
        font-size: .8em;
        padding: .8em 5em;
        background-color: rgb(251,189,19);
        outline: none;
        cursor: pointer;
        color: rgb(255,255,255);
        margin: 0 auto;
        transition: 0.5s all;
        text-transform: uppercase;
    }

.booking-wrapper {
    visibility: collapse;
    opacity: 0;
    transition: 1s all;
    float: none;
    margin: 1em auto;
    height: auto;
}

    .booking-wrapper.open {
        visibility: visible;
        opacity: 1;
        transition: 1s all;
    }

/*.booking-wrapper .buttonDiv {
        
        margin: 0 auto;
    }*/

/*.mobile-search-cover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s linear, opacity .5s linear;
}

    .mobile-search-cover.open {
        height: 100%;
        z-index: 1000;
        background: rgba(255,255,255,1);
        display: inline-table;
        text-align: center;
        visibility: visible;
        opacity: 1;
    }*/

.search-input {
    width: 100%;
    margin: 0 auto;
    background: rgb(255,255,255);
    color: #333333;
    padding: .8em;
    display: table;
}

    .search-input div:first-of-type {
        float: left;
    }

    .search-input div {
        float: right;
    }

    .search-input img {
        width: 1.2em;
        height: auto;
        float: right;
        top: 0;
    }

.mobile-search-input {
    width: 100%;
    margin: 0 auto;
    padding: .2em .8em;
    text-align: left;
}

.close-button {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    float: right;
    width: 50px;
    height: 35px;
    background: url('../Images/Icons/close-icon.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/close-icon.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/close-icon.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/close-icon.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.8em, 0%;
    cursor: pointer;
    border: 0 none;
    border-radius: 5px;
    z-index: 999;
    text-indent: -9999px;
    outline: none;
}

.search-activity, .book-activity, .book-calender {
    transition: 1s all ease-out;
}

.search-button {
    margin: 1.5em auto;
}

    .search-button a {
        margin: 0 auto;
        height: 1em;
        font-size: .8em;
        padding: .8em 1em;
        background-color: rgb(251,189,19);
        outline: none;
        cursor: pointer;
        color: rgb(255,255,255);
        margin: 0 auto;
        transition: 0.5s all;
        text-transform: uppercase;
    }

        /*.search-button a:hover {
            background-color: rgb(4,118,25);
            transition: 0.5s all;
        }*/
        .search-button a.focus {
            transition: 0.5s all;
        }

/*SEARCH END*/
.header-lower {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: large;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: rgba(244,244,244,.8);
    border-bottom: 1px solid #ccc;
    transition: .5s all;
    padding: .9em 0 .5em 0;
}

.header-upper {
    width: 100%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: Dooodleista;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgba(244,244,244,.8);
    border-bottom: 1px solid #ccc;
    transition: .5s all;
    padding: .3em 0 .2em 0;
}

.header-upper-noborder {
    width: 100%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: Dooodleista;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgba(244,244,244,.8);
    transition: .5s all;
    padding: .3em 0 .2em 0;
}
/***************ACTIVITY DETAIL**************/
.header-left {
    font-family: Dooodleista;
    color: #000;
    font-size: 3.5em;
    text-transform: uppercase;
    width: auto;
    text-align: left;
    font-weight: 500;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    padding: 0em .2em;
}

    .header-left span {
        padding: .1em 0;
    }

        .header-left span:first-of-type {
            border-bottom: 4px solid #fbbd13;
        }

.location-icon {
    top: 0;
}

.location-details {
    padding: .2em 0;
    text-indent: -1%;
    transition: .5s all;
    font-size: 1em;
}

.location-detailsSpace {
    padding: .2em 0;
    text-indent: .5em;
    transition: .5s all;
    font-size: 1em;
}

.subHeader, .subHeaderRight, .subHeaderCenter {
    padding: .1em 0;
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
    display: block;
}

.subHeaderCenter {
    text-align: center;
}

.subHeaderRight {
    text-align: right;
}

.rating {
    padding: 0 .2em;
    margin: -1em auto auto auto;
    float: none;
    text-align: center;
    display: table;
    padding: 0 .5em;
}

    .rating div:first-of-type {
        float: none;
    }

    .rating div {
        float: left;
        padding: .1em 0;
    }

.crop-height {
    /* max-width: 1200px; /* native or declared width of img src (if known) */
    max-height: 225px;
    height: 250px; /* lt ie8 */
    height: auto;
    overflow: hidden;
}

    img.scale, object.scale, .crop-height img {
        display: block; /* corrects small inline gap at bottom of containing div */
        max-width: 100%;
        /* just in case, to force correct aspect ratio */
        height: auto !important;
        width: auto\9; /* ie8+9 */
        /* lt ie8 */
        -ms-interpolation-mode: bicubic;
        background-position: top center;
        /* force a minimum size if img src size is known */
        /* min-height: 320px; /* max-height of .crop-height */
        /* min-width: 480px; /* consistent with image ratio */
        /* optionally center if img src is not as wide as div */
        /* margin: 0 auto; */
    }

.rating-outer {
    display: table;
    background-color: #ccc;
    width: 100%;
    position: relative;
}

.num-left {
    float: right;
    margin-right: 0.5em;
}

.num-right {
    float: left;
    margin-left: -1em;
}

    .num-left a, .num-right a {
        background-color: rgb(204,204,204);
        font-size: 1em;
        padding: .5em 1em;
        display: table;
        width: 2em;
        height: 1.5em;
        outline: none;
        font-weight: 700;
        margin: 0 .5em;
        cursor: pointer;
        color: rgb(0,0,0);
        transition: 0.5s all;
    }


        .num-left a:after, .num-right a:after {
            content: "";
            display: table;
            clear: both;
        }

.label-input {
    padding: .5em 0 0 0;
    float: left;
    font-weight: 600;
    margin-left: -.6em;
    text-align: left;
    outline: none;
    cursor: pointer;
    color: #000;
    transition: 0.5s all;
}

    .label-input:after {
        content: "";
        display: table;
        clear: both;
    }

input[type=radio] {
    margin: .2em .4em 0 0;
    vertical-align: top;
}

label {
    font-size: .7em;
}

.table-10 {
    margin: 0 auto;
    position: relative;
    width: 10em;
    display: table;
}

.booking-outer {
    display: table;
    width: 50%;
    position: relative;
    float: right;
}

.booking {
    margin: .2em auto .5em auto;
    float: none;
    display: table;
}

    .booking div:first-of-type {
        transition: margin .2s linear;
        margin: 0em auto;
        text-align: center;
    }

    .booking div {
        margin: 1em auto;
        text-align: center;
        position: relative;
    }

    .booking a {
        margin: 0 auto;
        height: 1em;
        font-size: .8em;
        padding: .8em 2em;
        background-color: rgb(251,189,19);
        outline: none;
        cursor: pointer;
        color: rgb(255,255,255);
        margin: 0 auto;
        transition: 0.5s all;
        text-transform: uppercase;
    }

.socialButtons {
    margin: 1em auto .5em auto;
    float: none;
    display: table;
}

    .socialButtons.right {
        float: right;
    }

    .socialButtons.left {
        float: left;
    }

    .socialButtons a {
        margin: 0 auto;
        height: 3em;
        font-size: .9em;
        outline: none;
        cursor: pointer;
        color: rgb(255,255,255);
        padding: .8em 2em;
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
        border: none;
        background-color: rgb(251,189,19);
    }

    .socialButtons #facebook {
        padding: .8em 2em;
        background-color: rgb(59,89,152);
    }

    .socialButtons #google {
        padding: .8em 2.8em;
        background-color: rgb(211,72,54);
    }

.error {
    font-size: .8em;
    color: red;
    text-align: center;
    display: table;
    margin: 0 auto;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
