/***********************COMMON FOR ALL DESKTOP*********************************/

/*-----CONTENT -----*/
body, #body {
    min-width: 1100px;
}

.column-auto {
    float: left;
    padding: .4em .5em 0 0;
    width: auto;
    position: relative;
    display: table;
}

.column-auto-nospace {
    float: left;
    padding: .4em 0;
    width: auto;
    position: relative;
    display: table;
}

.column-auto-left {
    float: left;
    padding: 0 .2em .5em 0;
}

.header-upper-noborder {
    font-size: 2.5em;
}

.labelPlain {
    font-size: 1em;
}
/*****************************COVER FOR HOME*******************************************************/
.cover-image {
    background-image: url("../Images/Desktop/default.jpg");
    width: 100%;
    display: table;
    min-height: 480px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background-position: top;
    background-size: cover;
}

/******************************MAIN COVER HEIGHT*********************************************/
.cover-height {
    /* max-width: 1200px; /* native or declared width of img src (if known) */
    max-height: 500px;
    height: 500px; /* lt ie8 */
    height: auto;
    display: table;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}

nav > div {
    float: none;
    width: 25%;
}

img.scale, object.scale, .cover-height img {
    display: block; /* corrects small inline gap at bottom of containing div */
    max-width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    width: auto\9; /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic;
    background-position: top center;
    /* force a minimum size if img src size is known */
    /* min-height: 320px; /* max-height of .crop-height */
    /* min-width: 480px; /* consistent with image ratio */
    /* optionally center if img src is not as wide as div */
    /* margin: 0 auto; */
}

#colorbar {
    height: 55px;
    display: block;
    top: 0;
    margin: 0;
    padding: 0;
    min-width: 700px;
}
/***********SEARCH BLOCK*******************/
.cover-search {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    min-height: 200px;
    height: 45%;
    display: table;
    margin: 0 auto;
}

    .cover-search.outer {
        top: 7em;
        position: relative;
        margin: 0 auto;
        display: table;
        left: 0;
        right: 0;
        width: 60%;
        min-width: 450px;
        float: none;
        background-color: rgba(0,0,0,.5);
        padding: 1em 0 1em 1em;
        float: none;
    }

.search-main {
    float: left;
    width: 90%;
}

.search-main-button {
    float: left;
    width: auto;
    height: auto;
    background-color: rgb(251,189,19);
    padding: .1em;
    cursor: pointer;
}

    .search-main-button img {
        -webkit-transition: all 1s ease 10ms;
        transition: all 1s ease 10ms;
        cursor: pointer;
        height: 40px;
    }

    .search-main-button:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        -moz-transform: scale(1.05);
    }

.home-search-content {
    top: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    float: left;
    padding: .5em 0;
    font-size: 1.2em;
    position: relative;
}

    .home-search-content div:first-child {
        padding: .5em 0;
        font-weight: 600;
        font-size: 1.4em;
    }
/***************END SEARCH BLOCK*******************/

/*CONTENT NAV - FOR DISPLAYING LISTS IN THE BODY*/
.content-nav {
    width: 100%;
    display: block;
    height: auto;
    top: 0;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0px;
    clear: both;
    float: none;
    display: table;
}

    .content-nav > div {
        width: auto;
        position: relative;
        display: table;
        float: left;
        cursor: pointer;
        font-size: 1.1em;
    }

        .content-nav > div > div:nth-of-type(2) {
            margin-left: .5em;
        }

        .content-nav > div > div {
            float: left;
            width: auto;
        }

        .content-nav > div span {
            color: rgb(51,51,51);
            padding: .4em;
        }

        .content-nav > div:nth-of-type(2) {
            font-size: .9em;
            width: auto;
            height: 0px;
            position: absolute;
            padding: 1em 1em;
            margin: 0 auto;
            cursor: initial;
            left: 0;
            opacity: 0;
            right: 0;
            z-index: 10;
            top: 20px;
            float: inherit;
            transform: scale(1, 1);
            transform-origin: top;
            visibility: collapse;
            -ms-transform: scale(1, 1);
            -ms-transform-origin: top center;
            background-color: rgba(255, 255, 255,0.95);
            -webkit-transition: all .5s linear 50ms;
            -moz-transition: all .5s linear 50ms;
            -ms-transition: all .5s linear 50ms;
            transition: all .5s linear 50ms;
        }

        .content-nav > div:hover + div, .content-nav > div + div:hover {
            opacity: 1;
            display: table;
            visibility: visible;
            height: auto;
        }

    .content-nav ul li {
        padding: .4em .2em;
        font-size: 1em;
        color: rgb(51,51,51);
    }

        .content-nav ul li a {
            cursor: pointer;
            color: rgb(51,51,51);
            font-size: .9em;
        }

/**************CHANGING CAROUSEL PADDING FOR DESKTOP*/
/*.owl-carousel {
    padding: 0 .3em;
}*/

.button-dark {
    float: right;
    display: table;
    position: relative;
    height: 1em;
    font-size: 1em;
    margin: .2em 1em 0 0;
}

    .button-dark a {
        border: 1px solid #000;
        padding: .2em 2em;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #000;
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
    }
/*******************END MENU*****************/

/**************MORE BUTTONS***************/
.more-div {
    float: right;
    position: relative;
    display: table;
    top: 0;
    right: 0;
}
/**************END MORE BUTTONS***************/

/***********UPPER NAVIGATION*********/
.home-nav {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0;
    display: table;
    /*border: 1px solid blue;*/
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
}

    .home-nav > div {
        position: relative;
        margin: 0em auto 0em auto;
        display: table;
        border: 2px solid #fff;
        height: 2em;
        width: 2em;
        border-radius: 20px;
        padding: .5em 0;
        text-align: center;
    }

img.scale, object.scale, .crop-height:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-interpolation-mode: bicubic;
}

.main-crop-height {
    overflow: hidden;
    max-height: 400px;
    overflow: hidden;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

    .main-crop-height img {
        width: 100%;
        height: 100%;
        display: block; /* corrects small inline gap at bottom of containing div */
        max-width: 100%;
        /* just in case, to force correct aspect ratio */
        height: auto !important;
        width: auto\9; /* ie8+9 */
        /* lt ie8 */
        -ms-interpolation-mode: bicubic;
        background-position: top center;
        margin: -25% auto 0;
        height: 100%;
    }
/*CROPPING IMAGES FOR MAPS INFO WINDOW*/
.map-crop-height {
    overflow: hidden;
    max-height: 150px;
    overflow: hidden;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

    .map-crop-height img {
        width: 100%;
        height: 100%;
        display: block; /* corrects small inline gap at bottom of containing div */
        max-width: 100%;
        /* just in case, to force correct aspect ratio */
        height: auto !important;
        width: auto\9; /* ie8+9 */
        /* lt ie8 */
        -ms-interpolation-mode: bicubic;
        background-position: top center;
        margin: -15% auto 0;
        height: 100%;
    }

.map-content {
    font-size: 1.2em;
    min-width: 5em;
    width: auto;
}

    .map-content > div > div:nth-of-type(2) {
        cursor: pointer;
    }

.map-label {
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    margin-top: 2px;
    text-align: center;
    white-space: nowrap;
}
/*END CROPPING IMAGES FOR MAPS INFO WINDOW*/
.crop-height {
    overflow: hidden;
    max-height: 250px;
    overflow: hidden;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

    .crop-height img {
        -webkit-transition: all 2s ease 50ms;
        transition: all 2s ease 50ms;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

.imageDiscountLabel div {
    padding: 0em 1px;
}

    .imageDiscountLabel div > div {
        font-weight: 500;
        font-size: 1em;
    }

        .imageDiscountLabel div > div:first-of-type {
            font-size: 1em;
            font-weight: 500;
        }

.image-noPaddingDiv .rightDiv > span {
    font-size: 1.1em;
}

/*********************END IMAGE LABEL START*******************/

/*******************LOCATION PAGE STYLES**************************/

.location {
    top: -3.5em;
}

.bestMonthsToVisitWrapper.item {
    float: left;
    padding: 0em 0.5em .2em;
    font-size: 1.2em;
}

.bestMonthsToVisitWrapper.litem {
    float: left;
    padding: 0em 0.5em;
    font-size: 1.2em;
}
/*******************END LOCATION PAGE STYLES**************************/

/*******************COLUMN STYLES**************************/
.column-6.min, .column-12.min, .column-4.min {
    padding: .1em;
}

.column-12.wide-gutter, .column-7.wide-gutter {
    padding: .5em 2em;
}

.column-12.widest-gutter, .column-7.widest-gutter {
    padding: .5em 5em;
}

.column-12.min-top-widest-gutter, .column-8.min-top-widest-gutter {
    padding: 0em 5em;
}

.column-8.min-top-left-widest-gutter {
    padding: .5em 0 0 5em;
}

.column-4.min-top-right-widest-gutter {
    padding: .7em 5em 0 5em;
}

.column-3.min {
    padding: .1em;
}

.lowercontent {
    background-color: #febe00;
    height: auto;
    text-align: center;
}

    .lowercontent .header {
        padding: 1em;
        font-weight: 600;
        font-size: 1.5em;
    }

    .lowercontent div p:first-child, .lowercontent div p {
        padding: 0;
        font-size: 1em;
        text-align: justify;
    }

    .lowercontent div p {
        text-align: right;
    }

.column-header {
    padding: .7em 0;
}

/*******************END COLUMN  STYLES**************************/

/*----- FOOTER -----*/
.footerWrapper {    
    width: 100%;
    min-width: 700px;    
    bottom: 0;    
}

footer {    
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

    footer a {
        color: #fff;
    }

.subHeader, .subHeaderRight, .subHeaderCenter {
    font-size: 1em;
    font-weight: 600;
    padding: .5em 0em;
}

.location-details {
    font-size: 1.2em;
    text-align: left;
}

.location-detailsSpace {
    font-size: 1em;
    padding: 0 .5em 0 0;
    text-align: left;
    text-indent: 0px;
}

.error, .booking > div span {
    font-size: 1em;
}

label {
    font-size: .8em;
}

.desktop-book {
    display: block;
    padding: 1em 0;
}

    .desktop-book.hide {
        display: none;
    }

.booking-outer {
    display: table;
    border: 1px solid #8ec73f;
    padding: 0 .5em;
    border-radius: 2px;
}

/********************ACTIVITY CART END**************************/

@media only screen and (min-width:600px) {
    .column-2 {
        width: 16.6%;
    }
    /*******************LOCATION PAGE STYLES OVERRIDING TABLET STYLES**************************/
    .location-activity-wrapper .activityCategoryDetails > div {
        font-size: 1.2em;
    }

        .location-activity-wrapper .activityCategoryDetails > div:first-of-type {
            font-size: 1.4em;
        }

    .list-booking-wrapper .activitybookingDetails div:first-of-type {
        font-size: 1.2em;
        padding: .1em .5em 0 0;
        float: left;
        font-weight: 400;
    }

    .caption {
        font-weight: 600;
        font-size: 1.5em;
    }

    .location {
        top: -1.5em;
        font-size: 3.5em;
    }

    .bestMonthsToVisitWrapper.item {
        float: left;
        padding: 0em 0.5em .2em;
        font-size: 1.2em;
    }

    .bestMonthsToVisitWrapper.litem {
        float: left;
        padding: 0em 0.5em;
        font-size: 1.2em;
    }

    .location-activity-wrapper {
        height: 80px;
        border-radius: 5px;
        padding: 5% 0;
        cursor: pointer;
    }
    /*******************END LOCATION PAGE STYLES OVERRIDING TABLET STYLES**************************/
}

.header-upper-noborder-left {
    font-size: 1.4em;
}

@media only screen and (min-width:700px) {

    .rating {
        font-size: 1.1em;
        margin: -0.5em auto auto auto;
        width: 5.8em;
    }

    .rating-outer {
        margin: 0em;
    }

    .subHeader, .subHeaderRight, .subHeaderCenter {
        font-size: 1em;
        font-weight: 600;
        padding: 0 1em;
    }
    /*******************LOCATION PAGE STYLES OVERRIDING TABLET STYLES**************************/
    .location {
        top: -1em;
        font-size: 4em;
    }

    .location-activity-wrapper .activityCategoryDetails > div {
        font-size: 1.2em;
    }

        .location-activity-wrapper .activityCategoryDetails > div:first-of-type {
            font-size: 1.5em;
        }

    .bestMonthsToVisitWrapper.item {
        float: left;
        padding: 0em 0.8em .2em;
        font-size: 1.3em;
        text-align: left;
    }

    .bestMonthsToVisitWrapper.litem {
        float: left;
        padding: 0em 0.8em;
        font-size: 1.3em;
    }

    .labelPlain {
        font-size: 1.2em;
        padding: .1em 0em;
        margin: 0;
    }

    label {
        font-size: .9em;
    }

    .error, .error-init {
        font-size: 1.2em;
    }

    .error-init {
        visibility: hidden;
        height: 1.5em;
        position: relative;
        color: red;
        transition: opacity 1s linear;
        opacity: 0;
    }

        .error-init.show {
            opacity: 1;
            visibility: visible;
        }
    /*******************END LOCATION PAGE STYLES OVERRIDING TABLET STYLES**************************/
    .list-booking-wrapper > div:first-of-type {
        float: left;
        width: 40%;
        padding: 2em 0;
    }

    .list-booking-wrapper .activitybookingDetails {
        float: right;
        width: 60%;
        text-align: left;
    }

    footer img {
        transform: scale(.7);
    }
}

@media only screen and (min-width: 900px) {

    /************ACTIVITY CART START**************/
    .list-booking-wrapper .activitybookingDetails div:first-of-type {
        font-size: 1.5em;
        letter-spacing: 1px;
        padding: 0 .5em 0 0;
        float: left;
        font-weight: 500;
    }

    .list-booking-wrapper .activitybookingDetails > div {
        font-size: 1.1em;
        padding: .1em .5em 0 0;
        float: left;
        font-weight: 500;
    }

    .header-upper-noborder-left {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1140px) {

    /**************OVERDDIDING CALENDAR STYLES*******************/
    .date-default-outer-container {
        min-width: 300px;
    }

    .month-container {
        font-size: 1em;
    }

    .days-container {
        font-size: 1.1em;
    }

    .month-label-container {
        float: left;
        display: table;
        width: 72%;
    }

        .month-label-container > div {
            font-size: 1.2em;
        }
    /**************END OVERDDIDING CALENDAR STYLES*******************/
    .subHeader, .subHeaderRight, .subHeaderCenter {
        font-size: 1.25em;
        font-weight: 600;
        padding: 0 0em;
    }


    .location {
        top: -2.5em;
        font-size: 4.5em;
    }

    .location-activity-wrapper .activityCategoryDetails > div {
        font-size: 1.4em;
    }

        .location-activity-wrapper .activityCategoryDetails > div:first-of-type {
            font-size: 1.8em;
        }

    .bestMonthsToVisitWrapper.item {
        float: left;
        padding: 0em 0.8em 0em;
        font-size: 1.5em;
        text-align: left;
    }

    .bestMonthsToVisitWrapper.litem {
        float: left;
        padding: 0em 0.8em;
        font-size: 1.5em;
    }

    /*-----INSIDE THE WRAPPERS-----*/
    header, nav, footer, .row {
        margin: 0 auto; /*centers everything on the page*/
        max-width: 1920px;
    }

    .location-activity-wrapper {
        height: 100px;
        border-radius: 5px;
        padding: 5% 0;
        cursor: pointer;
    }

    .location-detailsSpace {
        font-size: 1.2em;
        padding: 0 .5em 0 0;
    }

    /*******SETTING MAP HEIGHT********/
    .map-container > div:nth-of-type(2) {
        position: relative;
        min-height: 26em;
    }

    .list-booking-wrapper > div:first-of-type {
        float: left;
        width: 25%;
        padding: 1em 0;
    }

    .list-booking-wrapper .activitybookingDetails {
        float: right;
        width: 70%;
        text-align: left;
    }
    /*-----COLUMNS -----*/

    .column-2 {
        width: 16.66%;
    }

    .header-upper-noborder-left {
        font-size: 1.4em;
    }

    input[type=text], input[type=email], input[type=tel], input[type=password] {
        min-height: 2.8em;
    }

    footer img {
        transform: scale(.8);
    }

    .dummy img {
        transform: scale(.5);
    }
}
