/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

    .owl-theme .owl-nav [class*='owl-'] {
        color: #FFF;
        font-size: 14px;
        margin: 5px;
        padding: 4px 7px;
        background-color: rgba(0,0,0,0.3);
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition:background-color .5s ease-in;
    }

        .owl-theme .owl-nav [class*='owl-']:hover {
            background-color: rgba(0,0,0,0.7);
            color: #FFF;
            text-decoration: none;
        }

    .owl-theme .owl-nav .disabled {
        opacity: 0.5;
        cursor: default;
    }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 10px;
        }

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .owl-theme .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            -webkit-transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            -ms-transition: opacity 200ms ease;
            -o-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }

        .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
            background: #869791;
        }

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }
