.cd-hero-slider .cd-bg-video-wrapper {
    display: none;
}

.editButton {
    display: block;
    float: right;
    width: 26px;
    margin-right: 50px;
    height: auto;
    transform: scale(.5);
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.8em, 0%;
    cursor: pointer;
    text-indent: 2em;
    border: 0 none;
    border-radius: 5px;
    outline: none;
}

.removeButton {
    display: block;
    width: 26px;
    height: auto;
    transform: scale(.5);
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.8em, 0%;
    cursor: pointer;
    border: 0 none;
    border-radius: 5px;
    text-indent: 2em;
    outline: none;
}

    .editButton div, .removeButton div {
        font-size: 2em;
        padding: 0 .5em;
    }

/*-----------LANDSCAPE MODE FOR PHONES-------------*/

@media only screen and (min-width: 480px) {
    .column-0 {
        width: 1em;
        float: left;
    }

    .button a {
        height: 1em;
        font-size: .8em;
        border: 1px solid #000;
        padding: .2em 1.2em;
        background-color: rgb(255,255,255);
        outline: none;
        cursor: pointer;
        color: #000;
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
    }

    .search-input {
        width: 400px;
    }

    .search-input-result {
        width: 250px;
    }

    .lowercontent div p:first-child {
        padding: .4em 0 .2em 0;
        font-size: .8em;
        font-weight: 400;
        text-align: center;
    }

    /*---------------LOCATION-----------------*/
    .monthseperator-top {
        width: 50%;
    }

    .location-image {
        width: 100%;
    }

    .location-activity-wrapper .activityDetails {
        padding: 0 5em;
    }

        .location-activity-wrapper .activityDetails > div {
            font-size: 1em;
        }

            .location-activity-wrapper .activityDetails > div:first-of-type {
                font-size: 1.4em;
            }


    /*------RIGHT ARROW*/
    .hairline-down-arrow {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: white;
    }

        .hairline-down-arrow:after {
            content: "";
            position: absolute;
            top: 70%;
            left: 75%;
            width: 10px;
            height: 10px;
            border-width: 0px 1px 1px 0px;
            transform: rotate(-45deg) translate(-50%, 100%) skew(5deg, 5deg);
            transform-origin: left;
            border-style: solid;
            border-color: grey;
        }

    .search-wrapper {
        margin: 2em auto;
    }

    .location-details {
        padding: 0 .2em;
        text-indent: -2%;
        font-size: 1.2em;
    }

    .rating {
        padding: 0 .2em;
        float: none;
        text-align: center;
        display: table;
    }

    .label-input {
        margin-left: -.8em;
    }

    .socialButtons.right {
        float: right;
        margin: 1em;
    }

    .socialButtons.left {
        float: left;
        margin: 1em;
    }

    .list-activity-wrapper .activityDetails {
        padding: 0em 4em;
        width: 65%;
    }

    .list-activity-wrapper > div:first-of-type {
        float: left;
        width: 20%;
        padding: 0;
    }

    .list-booking-wrapper .activitybookingDetails {
        float: right;
        width: 70%;
        padding: .2em 1em;
    }

    .location-details {
        padding: .2em 0em;
        text-indent: .4em;
        transition: .5s all;
        margin: 0 .1em;
        font-size: 1em;
        text-align: left;
    }

    .location-detailsSpace {
        padding: .2em 0;
        text-indent: 1em;
        transition: .5s all;
        font-size: 1em;
    }

    .label {
        height: 2em;
        float: right;
        font-size: 1.1em;
        padding: .4em .5em;
        font-weight: 500;
        background-color: rgb(251,189,19);
        outline: none;
        cursor: pointer;
        color: #fff;
        margin: -1em auto;
        transition: 0.5s all;
        display: table;
    }
}
