.cd-hero-slider .cd-bg-video-wrapper {
    display: none;
}

/*-----------LANDSCAPE MODE FOR PHONES-------------*/

@media only screen and (min-width: 480px) {
    .column-0 {
        width: 1.5em;
        float: left;
    }

    .button a {
        height: 1em;
        font-size: .8em;
        border: 1px solid #000;
        padding: .2em 1.2em;
        background-color: rgb(255,255,255);
        outline: none;
        cursor: pointer;
        color: #000;
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
    }

    .search-input {
        width: 400px;
    }

    .search-input-result {
        width: 250px;
    }

    .lowercontent div p:first-child {
        padding: .4em 0 .2em 0;
        font-size: .8em;
        font-weight: 400;
        text-align: center;
    }

    /*---------------LOCATION-----------------*/

    .location-image {
        width: 100%;
    }

    .location {
        top: 7em;
    }

    .bestMonthsToVisitWrapper, .bestMonthsToVisitLowerWrapper {
        width: 70%;
    }

        .bestMonthsToVisitWrapper .monthsSeperator {
            margin: 0 auto;
        }

        .bestMonthsToVisitWrapper .item {
            padding: .6em;
        }        

    /*------RIGHT ARROW*/
    .hairline-down-arrow {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: white;
    }

        .hairline-down-arrow:after {
            content: "";
            position: absolute;
            top: 70%;
            left: 75%;
            width: 10px;
            height: 10px;
            border-width: 0px 1px 1px 0px;
            transform: rotate(-45deg) translate(-50%, 100%) skew(5deg, 5deg);
            transform-origin: left;
            border-style: solid;
            border-color: grey;
        }

    .search-wrapper {
        margin: 2em auto;
    }

    .location-details {
        padding: 0 .2em;
        text-indent: -2%;
        font-size: 1.2em;
    }

    .rating {
        padding: 0 .2em;
        width: 65%;
        float: none;
        text-align: center;
        display: table;
    }

    .label-input {
        margin-left: -.8em;
    }
}
