.cd-hero-slider .cd-bg-video-wrapper {
    display: none;
}

.editButton {
    display: block;
    float: right;
    width: 26px;
    margin-right: 50px;
    height: auto;
    transform: scale(.5);
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/edit.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.8em, 0%;
    cursor: pointer;
    text-indent: 2em;
    border: 0 none;
    border-radius: 5px;
    outline: none;
}

.removeButton {
    display: block;
    width: 26px;
    height: auto;
    transform: scale(.5);
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background: url('../Images/Icons/bin.png'),-webkit-linear-gradient(top, rgba(33,33,33,0.8), rgba(33,33,33,0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.8em, 0%;
    cursor: pointer;
    border: 0 none;
    border-radius: 5px;
    text-indent: 2em;
    outline: none;
}

    .editButton div, .removeButton div {
        font-size: 2em;
        padding: 0 .5em;
    }

.right {
    padding: 0;
}

.like-container img {
    transform-style:initial;
}
/*-----------LANDSCAPE MODE FOR SMALLER PHONES-------------*/

@media only screen and (min-width: 480px) {
    .column-0 {
        width: 1em;
        float: left;
    }

    .button a {
        height: 1em;
        font-size: .8em;
        border: 1px solid #000;
        padding: .2em 1.2em;
        background-color: rgb(255,255,255);
        outline: none;
        cursor: pointer;
        color: #000;
        margin: 0 auto;
        transition: 0.5s all;
        border-radius: 5px;
    }

    .search-input {
        width: 400px;
    }

    .search-input-result {
        width: 250px;
    }

    .lowercontent div p:first-child {
        padding: .4em 0 .2em 0;
        font-size: .8em;
        font-weight: 400;
        text-align: center;
    }

    /*---------------LOCATION-----------------*/
    .location {
        padding: .2em .3em;
        text-transform: uppercase;
        top: -8em;
        color: white;
        font-size: 2em;
        position: relative;
        display: table;
        margin: 0 auto;
        margin-top: -1.4em;
        text-shadow: 5px 5px 5px rgba(0,0,0, 1);
    }

    .monthseperator-top {
        width: 65%;
    }

    .location-image {
        width: 100%;
    }

    .location-activity-wrapper {
        border: 1px solid #ccc;
        height: 5em;
        border-radius: 5px;
        padding: 5% 0 0 0;
    }

        .location-activity-wrapper .activityDetails {
            padding: 0em 5em;
        }

            .location-activity-wrapper .activityDetails > div {
                font-size: 1em;
            }

                .location-activity-wrapper .activityDetails > div:first-of-type {
                    font-size: 1.4em;
                }

    .bestMonthsToVisitWrapper {
        display: table;
        margin: 0 auto;
        padding: 0em 0 .2em 0;
    }

        .bestMonthsToVisitWrapper.item {
            float: left;
            padding: 0em 0.5em .2em;
            font-size: 1.2em;
        }

        .bestMonthsToVisitWrapper.litem {
            float: left;
            padding: 0em 0.5em;
            font-size: 1.2em;
        }
    /*------RIGHT ARROW*/
    .hairline-down-arrow {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: white;
    }

        .hairline-down-arrow:after {
            content: "";
            position: absolute;
            top: 70%;
            left: 75%;
            width: 10px;
            height: 10px;
            border-width: 0px 1px 1px 0px;
            transform: rotate(-45deg) translate(-50%, 100%) skew(5deg, 5deg);
            transform-origin: left;
            border-style: solid;
            border-color: grey;
        }

    .search-wrapper {
        margin: 2em auto;
    }

    .location-details {
        padding: 0 .2em;
        text-indent: -2%;
        font-size: 1.2em;
    }

    .rating {
        padding: 0 .2em;
        float: none;
        text-align: center;
        display: table;
    }

    .label-input {
        margin-left: -.8em;
    }

    .socialButtons.right {
        float: right;
        margin: 1em;
    }

    .socialButtons.left {
        float: left;
        margin: 1em;
    }

    .list-booking-wrapper .activitybookingDetails {
        float: right;
        width: 70%;
        padding: .2em 1em;
    }

    .location-details {
        padding: .2em 0em;
        text-indent: .4em;
        transition: .5s all;
        margin: 0 .1em;
        font-size: 1em;
        text-align: left;
    }

    .location-detailsSpace {
        padding: .2em 0;
        text-indent: 1em;
        transition: .5s all;
        font-size: 1em;
    }

    .label {
        height: 2em;
        float: right;
        font-size: 1.1em;
        padding: .4em .5em;
        font-weight: 500;
        background-color: rgb(251,189,19);
        outline: none;
        cursor: pointer;
        color: #fff;
        margin: -1em auto;
        transition: 0.5s all;
        display: table;
    }

    .crop-height {
        /* max-width: 1200px; /* native or declared width of img src (if known) */
        max-height: 275px;
        height: 275px; /* lt ie8 */
        height: auto;
        overflow: hidden;
    }

        img.scale, object.scale, .crop-height img {
            display: block; /* corrects small inline gap at bottom of containing div */
            max-width: 100%;
            /* just in case, to force correct aspect ratio */
            height: auto !important;
            width: auto\9; /* ie8+9 */
            /* lt ie8 */
            -ms-interpolation-mode: bicubic;
            background-position: center;
            /* force a minimum size if img src size is known */
            /* min-height: 320px; /* max-height of .crop-height */
            /* min-width: 480px; /* consistent with image ratio */
            /* optionally center if img src is not as wide as div */
            /* margin: 0 auto; */
        }
}



/********************LANDSCAPE FOR PHABLETS*********************/
@media only screen and (min-width: 640px) {

    .column--true-12, .column--true-9, .column--true-7, .column--true-6, .column--true-5, .column--true-4, .column--true-3, .column--true-2 {
        padding: 0px;
        float: left;
        width: 100%;
    }

    .column--true-12 {
        width: 100%;
    }

    .column--true-9 {
        width: 75%;
    }

    .column--true-7 {
        width: 58.33%;
    }

    .column--true-6 {
        width: 50%;
    }

        .column--true-6.border {
            border-bottom: 1px solid #fff;
        }

    .column--true-5 {
        width: 41.2%;
    }

    .column--true-4 {
        width: 33.3%;
    }

    .column--true-3 {
        width: 25%;
    }

    .column--true-2 {
        width: 16.6%;
    }

    .imageDiv {
        position: relative;
        background-color: rgba(0,0,0,.6);
        padding: .5em .5em;
        width: 100%;
        height: 4em;
        margin-top: -4em;
        color: white;
    }

    .right {
        padding: 0 1px 0 0;
    }
}
