@{
    ViewBag.Title = "WADADO.IN";
}

<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/jssor.js"></script>
<script src="~/Scripts/slider/jssor.slider.js"></script>
<script src="~/Scripts/slider/slider.js"></script>

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>
<script src="~/Scripts/Home/services/HomeDataService.js"></script>
<script src="~/Scripts/Home/controllers/HomeController.js"></script>

<!--VIDEO REFERENCE-->
<link href="~/Content/video/default-vid.css" rel="stylesheet" />
<link href="~/Content/video/tablet-vid.css" rel="stylesheet" />
<link href="~/Content/video/desktop-vid.css" rel="stylesheet" />
<link href="~/Content/phone.css" rel="stylesheet" />

<!--DATE REFERENCE-->
<link href="~/Content/cangas.datepicker.css" rel="stylesheet" />
<script src="~/Scripts/Directives/Date/datedirective.js"></script>

<div id="colorbar">
</div>
<div class="cover"></div>
<div>
    <div id="navWrapper">
        <nav>
            <div class="clearfix primary-nav">
            </div>
            <ul class="clearfix menu-nav">
                <li class="active" id="portfolio"><a href="#">Sign Up</a></li>
                <li id="services"><a href="#">Login</a></li>
                <li id="careers"><a href="#">About Us</a></li>
                <li id="contact"><a href="#">FAQs</a></li>
            </ul>
            <button class="logo-button">Logo Button</button>
            <button class="nav-button">Toggle Button</button>
        </nav>
    </div>
</div>

<div class="contentWrapper" data-ng-controller="HomeController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <section class="cd-hero">
        <ul class="cd-hero-slider">
            <li class="selected">
                <div class="row">
                    <div class="column-12">
                        <div class="cd-full-width">
                            <div class="home-search-content">
                                <div>
                                    <h2>Wadado</h2>
                                </div>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    </p>
                                </div>
                                <div class="search-input">
                                    <div><span>{{selectedLocation}}</span></div>
                                    <div><img src="~/Images/Icons/search-icon.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cd-bg-image-wrapper" data-image="images/Mobile/default">
                </div>
            </li>
        </ul>
    </section>
    <div class="uppercontent">
        <!--Row start-->
        <div class="row">
            <div class="column-0">
                <img src="~/Images/Icons/offer_icon_mobile.png" />
            </div>
            <div class="column-6">
                <span>Top Offers of the Day</span>
            </div>
            <div class="column-1">
                <div class="button">
                    <a>More</a>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <!-- Slider Begin -->
        <div id="slider_container" class="slider">
            <!-- Slides Container -->
            <div u="slides" class="sliderContainer">
                <div ng-repeat="item in topOffer">
                    <img u="image" ng-src="{{item.ImageURL}}">
                </div>
            </div>
            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb21" style="position: absolute; bottom: 26px; left: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype" style="position: absolute; width: 19px; height: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
            </div>
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
            </span>
        </div>
        <!-- Slider End -->
        <!--Row end-->
        <!--Row start-->
        <div class="row">
            <div class="column-0">
                <img src="~/Images/Icons/events_icon_mobile.png" />
            </div>
            <div class="column-6">
                <span>Top Trending Activities</span>
            </div>
            <div class="column-1">
                <div class="button">
                    <a>More</a>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <div ng-repeat="item in topActivity">
            <div>
                <div>
                    <img ng-src="{{item.ImageURL}}" style="width:100%;">
                </div>
                <div class="imageDiv">
                    <div class="leftDiv">
                        <span>$ {{item.Activity.Cost}}</span>
                    </div>
                    <div class="rightDiv">
                        <p>
                            <span>{{item.Activity.Name}}</span>
                        </p>
                        <p>
                            <span>{{item.Activity.Address}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <div class="row">
            <div class="column-12 lowercontent">
                <div class="header">
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</span>
                </div>
                <div ng-repeat="item in latestNews">
                    <p>
                        {{item.Details}}
                    </p>
                    <p>
                        - {{item.Agency}}
                    </p>
                </div>
            </div>
        </div>
        <!--Row end-->
    </div>
</div>

