@{
    ViewBag.Title = "WADADO.IN";
}

<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/owl.carousel.min.js"></script>
<link href="~/Content/owl.carousel.css" rel="stylesheet" />
@*<link href="~/Content/owl.theme.css" rel="stylesheet" />*@
<link href="~/Content/animate.css" rel="stylesheet" />

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
@*<script src="~/Scripts/Common/controllers/FavoritesController.js"></script>*@

<script src="~/Scripts/Directives/Favorites/favoritesdirective.js"></script>


<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>
<link href="~/Content/hometabmenu.css" rel="stylesheet" />

<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>
<script src="~/Scripts/Home/services/HomeDataService.js"></script>
<script src="~/Scripts/Home/controllers/HomeController.js"></script>

<!--VIDEO REFERENCE-->
<link href="~/Content/video/default-vid.css" rel="stylesheet" />
<link href="~/Content/video/tablet-vid.css" rel="stylesheet" />
<link href="~/Content/video/desktop-vid.css" rel="stylesheet" />
<link href="~/Content/tablet.css" rel="stylesheet" />

<div id="colorbar">
</div>
<div class="cover"></div>
<div>
    @Html.Partial("../Partial/_homemobilemenu")
</div>

<div class="contentWrapper" data-ng-controller="HomeController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <section class="cd-hero">
        <ul class="cd-hero-slider">
            <li class="selected">
                <div class="row">
                    <div class="column-12">
                        <div class="cd-full-width">
                            <div class="home-search-content">
                                <div>
                                    <h2>Welcome to MyMonkeyCap</h2>
                                </div>
                                <div>
                                    <p>
                                        Find and book recreational, learning, family, fitness and travel activities
                                    </p>
                                </div>
                                <div class="search-input">
                                    <div ng-cloak><span>{{selectedLocation}}</span></div>
                                    <div><img src="~/Images/Icons/search-icon.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cd-bg-image-wrapper" data-image="images/Mobile/default">
                </div>
            </li>
        </ul>
    </section>
    <div class="uppercontent">
        <div class="column-12 top"></div>
        <!--Row start-->
        <div class="row">
            <div class="column-0">
                <img src="~/Images/Icons/offer_icon_mobile.png" />
            </div>
            <div class="column-6">
                <span>Top Offers of the Day</span>
            </div>
            <div class="column-1">
                <div class="button">
                    <a>More</a>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <!-- Slider Begin -->
        <div class="row">
            <div class="column-12 top">
                <div class="owl-carousel">
                    <div ng-repeat="item in topOffer">
                        <div class="imageDiscountLabel" ng-show="item.Discount > 0">
                            <div>
                                <div>
                                    <span>{{item.Discount}}%</span>
                                </div>
                                <div stye="position:absolute;width:100%;">
                                    <span>Off</span>
                                </div>
                            </div>
                        </div>
                        <div class="rightDiv">
                            <div class="like-container">
                                <nds-favorites entity-key="item.Key" type="ACTIVITY"></nds-favorites>
                                @*@Html.Partial("../Partial/_favourites")*@
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.ImageURL}}" data-ng-click="" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.Value}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <span>
                                    {{item.Currency}} {{item.Cost}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slider End -->
        <!--Row end-->
        <!--Row start-->
        <div class="row">
            <div class="column-0 ">
                <img src="~/Images/Icons/toptrending_mobile.png" />
            </div>
            <div class="column-6 ">
                <span>Top Trending Activities</span>
            </div>
            <div class="column-1 ">
                <div class="button">
                    <a>More</a>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <div class="row" ng-cloak>
            <div ng-repeat="item in topActivity">
                @*<div ng-if="$index == 0">*@
                <div>
                    <div class="column-6 min" ng-if="!largeScreen">
                        <div class="image-container">
                            <div class="imageDiscountLabel" ng-show="item.Discount > 0">
                                <div>
                                    <div>
                                        <span>{{item.Discount}}%</span>
                                    </div>
                                    <div stye="position:absolute;width:100%;">
                                        <span>Off</span>
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <div class="like-container">
                                    <nds-favorites entity-key="item.ActivityKey" type="ACTIVITY"></nds-favorites>
                                    @*@Html.Partial("../Partial/_favourites")*@
                                </div>
                            </div>
                            <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                                <img ng-src="{{item.ImageURL}}" style="width:100%;" />
                            </div>
                            <div class="image-noPaddingDiv">
                                <div class="leftDiv">
                                    <div>
                                        <p><span>{{item.ActivityName}}</span></p>
                                    </div>
                                    <div class="ratingList" id="userRating">
                                        <div ng-repeat="imageItem in item.ratingURL track by $index">
                                            <img ng-src="{{imageItem}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="rightDiv">
                                    <span>
                                        {{item.Currency}} {{item.Cost}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-4 min" ng-if="largeScreen">
                        <div class="imageDiscountLabel" ng-show="item.Discount > 0">
                            <div>
                                <div>
                                    <span>{{item.Discount}}%</span>
                                </div>
                                <div stye="position:absolute;width:100%;">
                                    <span>Off</span>
                                </div>
                            </div>
                        </div>
                        <div class="rightDiv">
                            <div class="like-container">
                                <nds-favorites entity-key="item.ActivityKey" type="ACTIVITY"></nds-favorites>
                                @*@Html.Partial("../Partial/_favourites")*@
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.ImageURL}}" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.ActivityName}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <span>
                                    {{item.Currency}} {{item.Cost}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <div class="row" ng-cloak ng-if="0 > 1">
            <div class="column-12 lowercontent">
                <div class="header">
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</span>
                </div>
                <div ng-repeat="item in latestNews">
                    <p>
                        {{item.Details}}
                    </p>
                    <p>
                        - {{item.Agency}}
                    </p>
                </div>
            </div>
        </div>
        <!--Row end-->
    </div>
</div>

