@{
    ViewBag.Title = "Home";
}

<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/owl.carousel.min.js"></script>
<link href="~/Content/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/owl.theme.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>

<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
<script src="~/Scripts/Common/controllers/FavoritesController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>
<link href="~/Content/hometabmenu.css" rel="stylesheet" />

<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>
<script src="~/Scripts/Home/services/HomeDataService.js"></script>
<script src="~/Scripts/Home/controllers/HomeController.js"></script>

<!--DATE REFERENCE-->
<link href="~/Content/cangas.datepicker.css" rel="stylesheet" />
<script src="~/Scripts/Directives/Date/datedirective.js"></script>
<link href="~/Content/tablet.css" rel="stylesheet" />
<link href="~/Content/desktop.css" rel="stylesheet" />
<div class="contentWrapper" data-ng-controller="HomeController">
    <!--row start-->
    <div class="row">
        <div class="cover-image">
        </div>
    </div>
    <!--end row start-->
    <div class="cover"></div>
    <div>
        @Html.Partial("../Partial/_homemobilemenu")
    </div>
    <section>
        <div class="row">
            <div class="cover-search">
                <div class="cover-search outer" data-ng-controller="SearchController">
                    <div class="home-search-content">
                        <div>
                            <h2>Wadado</h2>
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            </p>
                        </div>
                    </div>
                    <div class="search-main">
                        <ui-select ng-model="locations.selected" theme="select2" on-select="loadSelectedLocationDetails($item, $model)" class="form-control"
                                   append-to-body="true">
                            <ui-select-match placeholder="Pick a place. Eg. Gangtok">{{$select.selected.LocationName}}</ui-select-match>
                            <ui-select-choices group-by="'Country'" repeat="item in alllocation | filter: $select.search">
                                <div ng-bind-html="item.LocationName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="search-main-button" data-ng-click="loadSelectedDetails()">
                        <img src="~/Images/Icons/search-icon_dp.png" />
                    </div>
                </div>
            </div>
            <div class="home-nav" ng-click="goTo('owl-carousel')">
                <div class="hairline-bottom-arrow">

                </div>
            </div>
        </div>
    </section>
    <div class="uppercontent">       
        <!--Row start-->
        <div class="row">
            <div class="column-12 wide-gutter">
                <div class="column-0">
                    <img src="~/Images/Icons/offer_icon_mobile.png" />
                </div>
                <div class="column-6">
                    <div class="subHeader">
                        <span>Top Offers</span>
                    </div>
                </div>
                <div class="more-div">
                    <div class="button-dark">
                        <a>More</a>
                    </div>
                </div>
            </div>            
        </div>
        <!--Row end-->
        <!--Row start-->
        <!-- Slider Begin -->
        <div class="row">
            <div class="column-12 wide-gutter">
                <div class="owl-carousel">
                    <div ng-repeat="item in topOffer">
                        <div class="imageDiscountLabel">
                            <div>
                                <p ng-if="item.Offer.Discount > 0">
                                    <span>{{item.Offer.Discount}}% Off</span>
                                </p>
                                <p>
                                    <span>{{item.Currency}} {{item.Activity.Cost}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.ImageURL}}" data-ng-click="" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.Activity.Name}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <div class="like-container">
                                    @Html.Partial("../Partial/_favourites")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slider End -->
        <!--Row end-->
        <!--Row start-->
        <div class="row">
            <div class="column-12 wide-gutter">
                <div class="column-0 ">
                    <img src="~/Images/Icons/toptrending_mobile.png" />
                </div>
                <div class="column-6 ">
                    <div class="subHeader">
                        <span>Top Trending Activities</span>
                    </div>
                </div>
                <div class="more-div">
                    <div class="button-dark">
                        <a>More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <!--Row start-->
        <div class="row" ng-cloak>
            <div class="column-12 wide-gutter">
                <div ng-repeat="item in topActivity">
                    <div class="column-4 min" ng-if="largeScreen">  
                        <div class="imageDiscountLabel">
                            <div>
                                <p data-ng-show="item.Discount > 0">
                                    <span>{{item.Discount}}% Off</span>
                                </p>
                                <p>
                                    <span>{{item.Activity.Currency}} {{item.Activity.Cost}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.ImageURL}}" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.Activity.Name}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <div class="like-container">
                                    @Html.Partial("../Partial/_favourites")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-6 min" ng-if="!largeScreen">
                        <div class="imageDiscountLabel">
                            <div ng-cloak>
                                <p data-ng-show ="item.Discount > 0">
                                    <span>{{item.Discount}}% Off</span>
                                </p>
                                <p>
                                    <span>{{item.Activity.Currency}} {{item.Activity.Cost}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.ImageURL}}" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.Activity.Name}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <div class="like-container">
                                    @Html.Partial("../Partial/_favourites")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row end-->
        <!--Row start-->
        <div class="row" ng-cloak>
            <div class="column-12 lowercontent">
                <div class="header">
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</span>
                </div>
                <div ng-repeat="item in latestNews">
                    <div class="column-4">
                        <p>
                            {{item.Details}}
                        </p>
                        <p>
                            <br />
                            - {{item.Agency}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Row end-->
    </div>
</div>

