@{
    ViewBag.Title = "WADADO.IN";
}
<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/jssor.js"></script>
<script src="~/Scripts/slider/jssor.slider.js"></script>
<script src="~/Scripts/slider/slider.js"></script>

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
<script src="~/Scripts/Common/controllers/FavoritesController.js"></script>

<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>
<link href="~/Content/tabmenu.css" rel="stylesheet" />

<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>


<script src="~/Scripts/Activities/services/ActivityDataService.js"></script>
<script src="~/Scripts/Activities/controllers/ActivityController.js"></script>
<link href="~/Content/tablet.css" rel="stylesheet" />

<div id="colorbar">
</div>
<div class="cover"></div>
<div id="contentWrapper" data-ng-controller="ActivityController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <div>
        @Html.Partial("../Partial/_mobilemenu")
    </div>
    <div class="uppercontent" ng-cloak>
        <div>
            <!--Row start-->
            <div class="row">
                <div class="activity">
                    <span>{{ActivityType}}</span>
                </div>
            </div>
            <!--Row start-->
            <div class="row">
                <div ng-repeat="item in allSelectedActivity" class="column-6 top">
                    <div ng-click="loadActivityDetails(item)">
                        <div class="list-activity-wrapper">
                            <div>
                                <img ng-src="{{item.DefaultImageURL}}" />
                            </div>
                        </div>
                    </div>
                    <div class="activityDetails">
                        <div class="column-9">
                            <div>
                                <span>{{item.ActivityName}}</span>
                            </div>
                            <div>
                                @*<span>INR {{item.Cost}}</span>*@
                                <span>INR 1000</span>
                            </div>
                            <div class="ratingList" id="userRating">
                                <div ng-repeat="imageItem in item.ratingURL track by $index">
                                    <img ng-src="{{imageItem}}" />
                                </div>
                            </div>
                        </div>
                        <div class="column-3">
                            <div class="like-container">
                                @Html.Partial("../Partial/_favourites")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
        </div>
    </div>
</div>