@{
    ViewBag.Title = "Admin";
}
<script src="~/Scripts/Admin/controllers/AdminController.js"></script>
<script src="~/Scripts/AdminLogin/services/UserAccountDataService.js"></script>
<script src="~/Scripts/AdminLogin/controllers/AdminLoginController.js"></script>
<script src="~/Scripts/AdminLocation/services/AdminLocationDataService.js"></script>
<script src="~/Scripts/AdminLocation/controllers/AdminLocationController.js"></script>
<script src="~/Scripts/AdminCategory/controllers/AdminCategoryContainerController.js"></script>
<script src="~/Scripts/AdminCategory/services/AdminCategoryDataService.js"></script>
<script src="~/Scripts/AdminCategory/controllers/AdminCategoryController.js"></script>
<script src="~/Scripts/AdminCategory/controllers/AdminSubCategoryController.js"></script>
<script src="~/Scripts/AdminCategory/controllers/AdminCategoryTypeMappingController.js"></script>
<script src="~/Scripts/AdminLocationSummary/services/AdminLocationSummaryDataService.js"></script>
<script src="~/Scripts/AdminLocationSummary/controllers/AdminLocationSummaryController.js"></script>
<script src="~/Scripts/AdminActivity/services/AdminActivityDataService.js"></script>
<script src="~/Scripts/AdminActivity/controllers/AdminActivitySummaryController.js"></script>
<script src="~/Scripts/AdminActivity/controllers/AdminActivityDetailsController.js"></script>
<script src="~/Scripts/AdminActivityBookings/controllers/AdminActivityBookingsContainerController.js"></script>
<script src="~/Scripts/AdminActivityBookings/services/AdminActivityBookingDataService.js"></script>
<script src="~/Scripts/AdminActivityBookings/controllers/AdminActivityBookingController.js"></script>
<script src="~/Scripts/AdminCompanies/services/AdminCompanyDataService.js"></script>
<script src="~/Scripts/AdminCompanies/controllers/AdminCompanyController.js"></script>
<script src="~/Scripts/Common/controllers/DialogController.js"></script>
<!--Image cropping reference-->
<link href="~/Content/image-crop-styles.css" rel="stylesheet" />

<!--UI SELECT REFERENCE-->
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />
<link href="~/Content/tablet.css" rel="stylesheet" />
<link href="~/Content/desktop.css" rel="stylesheet" />
<link href="~/Content/admin-left-menu.css" rel="stylesheet" />

<div class="contentWrapper" data-ng-controller="AdminController">
    <div class="row">
        <div class="top-pane">
            <nav>
                <div ng-click="home()">
                </div>
                <ul ng-if="isUserLoggedIn" ng-cloak>
                    <li ng-click="setActive('location')" ng-if="isAdmin"><a ui-sref="adminLocation" id="location">Location</a></li>
                    <li ng-click="setActive('category')" ng-if="isAdmin"><a ui-sref="admincategory_parent.admincategories" id="category">Categories</a></li>
                    <li ng-click="setActive('activities')"><a ui-sref="adminActivities" id="activities">Activity</a></li>
                    <li ng-click="setActive('bookings')" class="active"><a ui-sref="adminbookings_parent.adminActivityBookingsPending" id="bookings">Bookings</a></li>
                    <li ng-click="setActive('company-details')"><a ui-sref="adminCompanyDetails" id="company-details">Company Details</a></li>
                    <li>
                        <div>
                            <a ng-click="logout()">Logout</a>
                        </div>
                    </li>
                </ul>               
            </nav>
        </div>
    </div>
    <div>
        <ng-include src="'Templates/_dialog.html'" autoscroll="false" />
    </div>
    <div>
        <ng-include src="'Templates/_adminImageUploadDialog.html'" autoscroll="false" />
    </div>
    <div ui-view></div>
</div>

