@{
    ViewBag.Title = "WADADO.IN";
}

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
<script src="~/Scripts/Directives/Favorites/favoritesdirective.js"></script>

<!--WADADO REFERENCE-->
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>

<!--BOOKING REFERENCE-->
<script src="~/Scripts/Common/services/BookingDataService.js"></script>
<script src="~/Scripts/Common/controllers/BookingController.js"></script>
<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>

<script src="~/Scripts/ActivitiesCart/controllers/ActivitiesCartController.js"></script>
<script src="~/Scripts/ActivitiesCart/services/ActivitiesCartDataService.js"></script>

<!--MAPS DIRECTIVE REFERENCE-->
<script src="~/Scripts/Directives/Maps/MapsDirective.js"></script>

<!--DATE REFERENCE-->
<link href="~/Content/_date.css" rel="stylesheet" />
<script src="~/Scripts/Directives/Date/DateDirective.js"></script>
<script src="~/Scripts/Directives/Booking/bookingdirective.js"></script>
<link href="~/Content/mobilemenu.css" rel="stylesheet" />
<link href="~/Content/phone.css" rel="stylesheet" />

<div id="colorbar">
</div>
<div class="cover"></div>
<div class="contentWrapper" data-ng-controller="ActivitiesCartController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <div>
        @Html.Partial("../Partial/_mobilemenu")
    </div>
    <div class="uppercontent" ng-cloak>
        <!--ROW START-->
        <div ng-if="!largeScreen">
            <div class="row">
                <div ng-repeat="(key, value) in activityResults">
                    <div class="column-12">
                        <div class="column-no-padding">
                            <div class="header-upper-noborder-left">
                                <div class="column-auto-left">
                                    <img src="~/Images/Icons/nav_location_icon.png">
                                </div>
                                <div class="column-auto-left">
                                    <span>{{key}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-12">
                        <div class="background white" ng-repeat="item in value">
                            <div class="list-booking-wrapper">
                                <div class="thumbnail-crop-height">
                                    <img ng-src="{{item.ImageURL}}" />
                                </div>
                                <div class="activitybookingDetails">
                                    <div>
                                        <span>{{item.ActivityWithLocation}}</span>
                                    </div>
                                </div>
                                <div class="activitybookingDetails">
                                    <div class="column-auto">
                                        <img src="~/Images/Icons/events_icon_mobile.png" />
                                    </div>
                                    <div class="labelPlain">
                                        <span>{{item.f_BookingDate}}</span>
                                    </div>
                                </div>
                                <div class="activitybookingDetails">
                                    <div class="column-auto">
                                        <img src="~/Images/Icons/people_web.png" />
                                    </div>
                                    <div class="labelPlain">
                                        <span>{{item.f_pax}}</span>
                                    </div>
                                    <div class="labelPlain">
                                        <span>{{item.f_Cost}}</span>
                                    </div>
                                </div>
                                <div class="activitybookingDetails" ng-show="showChildInfo()">
                                    <div class="column-auto">
                                        <img src="~/Images/Icons/kids.png" />
                                    </div>
                                    <div class="labelPlain">
                                        <span>{{item.ChildParticipants}}</span>
                                    </div>
                                    <div class="inline" ng-if="isINR()">
                                        <img src="~/Images/Icons/rupee_mob.png" />
                                    </div>
                                    <div class="labelPlain">
                                        <span>{{item.CostForChild}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-6 nopadding">
                                    <div class="button-container left">
                                        <div class="center-element-relative-table">
                                            <div class="column-auto">
                                                <img src="~/Images/Icons/edit.png" />
                                            </div>
                                            <div class="column-auto">
                                                <span>Edit</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-6 nopadding">
                                    <div class="button-container">
                                        <div class="center-element-relative-table">
                                            <div class="column-auto">
                                                <img src="~/Images/Icons/bin.png" />
                                            </div>
                                            <div class="column-auto" ng-click="removeActivityFromUserCart(item)">
                                                <span>Delete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <div class="column-auto-left">
                        <span>Amount details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <div class="background white">
                        <div class="list-amount-wrapper">
                            <div>
                                <div>
                                    <span>Packages</span>
                                </div>
                                <div>
                                    <span>{{Currency}} {{Total}}</span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>VAT</span>
                                </div>
                                <div>
                                    <span>{{Currency}} 2,000</span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>Total</span>
                                </div>
                                <div>
                                    <span>{{Currency}} {{Total}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <div class="background white">
                        <div class="user-details">
                            <div>
                                <div>
                                    <span>First Name</span>
                                </div>
                                <div>
                                    <input type="text" required placeholder="First Name" ng-model="userInfo.firstName" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>Last Name</span>
                                </div>
                                <div>
                                    <input type="text" required placeholder="Last Name" ng-model="userInfo.lastName" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>Phone Number</span>
                                </div>
                                <div>
                                    <input type="tel" required placeholder="Phone Number" ng-model="userInfo.phoneNumber" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>Email</span>
                                </div>
                                <div>
                                    <input type="email" required placeholder="Email" ng-model="userInfo.email" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <div class="column-top">
                    </div>
                    <div class="booking">
                        <div>
                            <a ng-click="proceedToCart()">Proceed to payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW END-->
    </div>
</div>