@{
    ViewBag.Title = "WADADO.IN";
}
<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/owl.carousel.min.js"></script>
<link href="~/Content/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/owl.theme.css" rel="stylesheet" />

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
<script src="~/Scripts/Directives/Favorites/favoritesdirective.js"></script>

<!--BOOKING REFERENCE-->
<script src="~/Scripts/Common/services/BookingDataService.js"></script>
<script src="~/Scripts/Common/controllers/BookingController.js"></script>
<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>
<link href="~/Content/mobilemenu.css" rel="stylesheet" />

<!--DATE REFERENCE-->
<script src="~/Scripts/Directives/Date/DateDirective.js"></script>
@*<script src="~/Scripts/Directives/Booking/bookingdirective.js"></script>*@
<link href="~/Content/phone.css" rel="stylesheet" />
<link href="~/Content/_date.css" rel="stylesheet" />
<div id="colorbar">
</div>
<div class="cover"></div>
<div class="contentWrapper" data-ng-controller="ActivityDetailsController">    
    <div>
        @Html.Partial("../Partial/_confirmationmobilemenu")
    </div>
    <div class="uppercontent">
        <div class="row">
            <div class="column-12 widest-gutter">
                <div class="center-element-relative-table">
                    <div class="dummy">
                        <img src="~/Images/Icons/monkeycap.gif" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-12 widest-gutter">
                <div class="center-element-relative-table">
                    <div class="header">
                        <span>Congratulations, you've just booked the greatest activity on earth ...or not!!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>