<div>
    <div class="book-activity">
        <!--ROW START-->
        <div class="row">
            <div class="column-12">
                <div class="buttonContainer">
                    <input type="button" ng-click="loadSelectedDetails()" class="search-button" value="BOOK NOW" />
                </div>
            </div>
        </div>
        <!--ROW END-->
    </div>
    <div>
        <div class="book-calender">
            <!--ROW START-->
            <div class="row">
                <div class="column-12">
                    <div ng-model="date" datepicker class="datepicker ll-skin-cangas" />
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>    
</div>
