<div ng-if="showBookingDetails()">
    <div>
        <div class="book-calender">
            <!--ROW START-->
            <div class="row">
                <div class="column-12">
                    <nds-date date-format="dd/MM/yy" months-to-display="6" disable-days="selectedActivityDetails.AllActivityDates" nds-on-date-set="onDateSet(selectedDate)"
                              allow-multi-date="false" allow-current-date="false" date-selected="selectedDate" disable-dates="">
                    </nds-date>                    
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>
    <!--ROW START-->
    <div class="booking-wrapper">
        <div class="row">
            <div class="column-12">
                <div class="table-10">
                    <div ng-repeat="item in selectedActivityDetails.AllActivityTimes">
                        <div class="column-6">
                            <label class="radio">
                                <input type="radio" ng-model="time.val" name="act-time" value="{{item}}" ng-click="selectTime()">{{item}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-6">
                <div class="num-left">
                    <a ng-click="removeGuests('A')">-</a>
                </div>
            </div>
            <div class="column-0">
                <div class="label-input"><span>{{NumAdults}}</span></div>
            </div>
            <div class="column-4">
                <div class="num-right">
                    <a ng-click="addGuests('A')">+</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-12">
                <div class="booking">
                    <div>
                        <span>{{AdultCost}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="ShowChildren()">
            <div class="row">
                <div class="column-6">
                    <div class="num-left">
                        <a ng-click="removeGuests('C')">-</a>
                    </div>
                </div>
                <div class="column-0">
                    <div class="label-input"><span>{{NumChildren}}</span></div>
                </div>
                <div class="column-4">
                    <div class="num-right">
                        <a ng-click="addGuests('C')">+</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-12">
                    <div class="booking">
                        <div>
                            <span>{{ChildCost}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-12">
                <div class="center-element">
                    <div class="error">
                        <span>{{ErrorMessage}}</span>
                    </div>
                </div>
            </div>
        </div>        
        <div class="column-12">
            <div class="booking">
                <div>
                    <span>Total</span>
                </div>
                <div>
                    <span>{{Total}}</span>
                </div>   
                <div>
                    <a ng-click="addActivityToCart()">Add to my trips </a>
                </div>             
            </div>
        </div>
    </div>
    <div class="desktop-book">
        <div class="row">
            <div class="column-12">
                <div class="booking">     
                    <div class="error-init">
                        <span>{{ErrorMessage}}</span>
                    </div>             
                    <div>
                        <a ng-click="addActivityToCart()">BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ROW END-->
</div>
