<div class="mobile-date" data-ng-controller="DateFilterController">   
    <!--ROW START-->
    <div class="row">
        <div class="header-sentence">
            <div>
                <span>Select Dates</span>
            </div>
            <div>
                <button class="date-close-button" ng-click="closeDateFilter()">Close Button</button>
            </div>
        </div>
    </div>
    <!--ROW END-->
    <!--ROW START-->
    <div class="row">
        <div class="column-12">
            <div>
                <div class="filter-button">
                    <a ng-click="filterActivitiesByDates()">APPLY FILTER</a>
                </div>
            </div>
        </div>
    </div>
    <!--ROW END-->
    <div class="row">
        <div class="column-12">
            <div date-val="init" ng-model="date" datepicker class="datepicker ll-skin-cangas" ></div>
        </div>
    </div>
    <!--ROW START-->
    <div class="row">
        <div class="column-12">
            <div date-val="end" ng-model="date" datepicker class="datepicker ll-skin-cangas" ></div>
        </div>
    </div>
    <!--ROW END-->
</div>
