<div data-ng-controller="MenuController">
    <div id="navWrapper">
        <nav>
            <div class="clearfix primary-nav" data-ng-controller="SearchController">
                <div ng-show="isDesktop" ng-cloak>
                    <div>
                        <div>
                            <img src="~/Images/Icons/location_nav.png" />
                        </div>
                        <div><span>{{selectedLocation}}</span></div>
                        <div class="bottom-triangle"></div>
                    </div>
                    <div>
                        <div ng-repeat="(key, value) in locationResults" class="row">
                            <ul>
                                <li>
                                    {{key}}
                                    <ul>
                                        <li ng-repeat="item in value">
                                            <a ng-click="loadSelectedLocationDetails(item, null)">{{item.LocationName}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="isDesktop" ng-cloak>
                    <div>
                        <div><span>{{activityName}}</span></div>
                        <div class="bottom-triangle"></div>
                    </div>
                    <div class="row">
                        <div>
                            <ul>
                                <li ng-repeat="(key, value) in activityResults">
                                    <ul>
                                        <li ng-repeat="item in value">
                                            <a ng-click="loadInLocationSelectedActivityCategory(key)">{{item.ActivityCategory}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="logo-button">Logo Button</button>
        </nav>
    </div>
</div>
