<div data-ng-controller="FavoritesController" ng-click="checkUserLoginAndAddToFavorites(item)" ng-init="init(item)">
    <img src="http://thefigtree.in/Images/Icons/like_unselected.png" ng-if="isItemAddedToFavourites() == false" >
    <img src="http://thefigtree.in/Images/Icons/like_selected.png" ng-if="isItemAddedToFavourites() == true">
</div>   
