<div id="navWrapper" data-ng-controller="MenuController">
    <nav>
        <div class="clearfix primary-nav">
            <div>
                <div class="menusearch-input">
                    <div><img src="~/Images/Icons/search-icon.png" /></div>
                    <div ng-cloak><span>{{selectedLocation}}</span></div>                    
                </div>                
            </div>            
        </div>
        <ul class="clearfix menu-nav">
            <li class="active" id="portfolio" ng-show="userLogIn"><a>{{UserName}}</a></li>
            <li id="services"><a ng-click="Login()">{{LoginStatus}}</a></li>
            <li id="checkout" ng-show="ActivityInCart()"><a ng-click="showCart()">View Cart ({{ActivityCount}})</a></li>
            <li id="careers"><a href="#">About Us</a></li>
            <li id="contact"><a href="#">FAQs</a></li>
        </ul>
        <button class="logo-button">Logo Button</button>
        <button class="nav-button"><div>{{ActivityCount}}</div></button>
    </nav>        
</div>
