@{
    ViewBag.Title = "WADADO.IN";
}
<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/jssor.js"></script>
<script src="~/Scripts/slider/jssor.slider.js"></script>
<script src="~/Scripts/slider/slider.js"></script>

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>

<!--BOOKING REFERENCE-->
<script src="~/Scripts/Common/services/BookingDataService.js"></script>
<script src="~/Scripts/Common/controllers/BookingController.js"></script>
<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>

<script src="~/Scripts/ActivityDetails/controllers/ActivityDetailsController.js"></script>
<script src="~/Scripts/ActivityDetails/services/ActivityDetailsDataService.js"></script>
<script src="~/Scripts/ActivityDetails/controllers/ActivityDetailsController.js"></script>

<!--VIDEO REFERENCE-->
<link href="~/Content/video/default-vid.css" rel="stylesheet" />
<link href="~/Content/video/tablet-vid.css" rel="stylesheet" />
<link href="~/Content/video/desktop-vid.css" rel="stylesheet" />


<!--DATE REFERENCE-->
<link href="~/Content/cangas.datepicker.css" rel="stylesheet" />
<script src="~/Scripts/Directives/Date/datedirective.js"></script>
<script src="~/Scripts/Directives/Booking/bookingdirective.js"></script>
<link href="~/Content/phone.css" rel="stylesheet" />
<div id="colorbar">
</div>
<div class="cover"></div>
<div class="contentWrapper" data-ng-controller="ActivityDetailsController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <div>        
        @Html.Partial("../Partial/_mobilemenu")
    </div>
    <div class="uppercontent" ng-show="showActivityDetails()" ng-hide="hideActivityDetails()">
        <div>
            <div id="slider_container" class="slider" ng-cloak>
                <!-- Slides Container -->
                <div u="slides" class="sliderContainer">
                    <div ng-repeat="item in selectedActivityDetails.ActivityImagesURL">
                        <img u="image" ng-src="{{item}}">
                    </div>
                </div>
                <!-- bullet navigator container -->
                <div u="navigator" class="jssorb21" style="position: absolute; bottom: 26px; left: 6px;">
                    <!-- bullet navigator item prototype -->
                    <div u="prototype" style="position: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                </div>
                <!-- Arrow Left -->
                <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
                </span>
                <!-- Arrow Right -->
                <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
                </span>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row">
                <div class="column-12">
                    <!--ACTIVITY NAME AND OTHER DETAILS-->
                    <div class="header-left">
                        <!--JS APPEND-->
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="column-12">
                    <div class="column-0">
                        <img src="~/Images/Icons/location_nav.png" />
                    </div>
                    <div class="column-9">
                        <div class="location-details">
                            <span>{{selectedActivityDetails.Location}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="column-12">
                    <div class="column-0">
                        <img src="~/Images/Icons/time_duration_web.png" />
                    </div>
                    <div class="column-3">
                        <div class="location-details">
                            <span>{{selectedActivityDetails.Duration}}</span>
                        </div>
                    </div>
                    <div class="column-0">
                        <img src="~/Images/Icons/people_web.png" />
                    </div>
                    <div class="column-3">
                        <div class="location-detailsSpace">
                            <span>{{NumberOfPeople}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="column-12">
                    <div class="column-6">
                        <div class="subHeader">
                            <span>
                                Description
                            </span>
                        </div>
                    </div>
                    <div class="column-6">
                        <div class="label">
                            <span>{{Cost}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="column-12">
                    <div>
                        <span>
                            {{selectedActivityDetails.Description | limitTo:limit}}
                        </span>
                    </div>
                </div>
                <div class="column-12">
                    <div class="column-1">
                        <div class="buttonNoBorder">
                            <a ng-click="showMore()">{{descriptionAction}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="rating-outer">
                    <div class="column-12">
                        <div class="column-6 border">
                            <div class="center-element">
                                <div class="subHeaderCenter">
                                    <span>User Rating</span>
                                </div>
                            </div>
                        </div>
                        <div class="column-6">
                            <div class="center-element">
                                <div class="subHeaderCenter">
                                    <span>Difficulty level</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-12">
                        <div class="column-6">
                            <div class="center-element">
                                <div class="rating" id="userRating">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6">
                            <div class="center-element">
                                <div class="rating" id="diffRating">
                                    <div><span>Professional</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row" ng-cloak>
                <div class="column-12">
                    <div class="column-12">
                        <div class="subHeader">
                            <span>
                                Cancellation Policy
                            </span>
                        </div>
                    </div>
                    <div>
                        <span>
                            {{selectedActivityDetails.CancellationPolicy}}
                        </span>
                    </div>
                </div>
            </div>
            <!--Row end-->
            <!--Row start-->
            <div class="row">
                <div class="column-12">
                    <div ng-controller="BookingController">
                        @Html.Partial("../Partial/_booking")
                    </div>
                </div>
            </div>
            <!--Row end-->
        </div>
    </div>
</div>
